<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ice="http://www.icesoft.com/icefaces/component"
                xmlns:ace="http://www.icefaces.org/icefaces/components"
                xmlns:icecore="http://www.icefaces.org/icefaces/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/templates/layout.xhtml">

    <ui:define name="top"/>

    <ui:define name="formulario">
        <h:form>
            <p class="style2" align="center"><span class="style9">GERENCIAMENTO DE TRABALHOS SUBMETIDOS</span></p>
            <ace:dataTable value="#{consultaArtigosBean.inscricoesDataModel}"
                           var="inscricao" paginatorPosition="bottom" rows="20"
                           style="width: 755px">
           
                <ace:column headerText="+">
                    <ace:expansionToggler/>
                </ace:column>

                <ace:column headerText="Número" sortBy="#{inscricao.numero}">
                    <h:outputText value="#{inscricao.numero}">
                        <f:convertNumber pattern="00000"/>
                    </h:outputText>
                </ace:column>
                <ace:column headerText="Nome" sortBy="#{inscricao.nome}"
                            filterBy="#{inscricao.nome}" filterMatchMode="startsWith">
                    <h:outputText value="#{inscricao.nome}"/>
                </ace:column>
                <ace:column headerText="Situação" sortBy="#{inscricao.situacao.descricao}">
                    <f:facet name="header">
                        <h:graphicImage url="/imagens/tick_verde_10x10.png"/>
                    </f:facet>
                    <h:graphicImage url="#{inscricao.situacao.icone}" title="#{inscricao.situacao.descricao}"/>
                </ace:column>
                
                <ace:panelExpansion>
                    <h:panelGroup layout="block" style="text-align: left;">
                        <h:panelGroup layout="block" style="display: inline-block; vertical-align: top; text-align: left;">
                            <h:outputText value="Artigos:" style=""/>
                        </h:panelGroup>
                        <h:panelGroup layout="block" style="display: inline-block; text-align: left;">
                            <ui:repeat value="#{inscricao.artigoList}" var="artigo">
                                <p>
                                    <h:outputLink value="#{request.contextPath}/artigo/download" style="margin-left: 1em;">
                                        <h:outputText value="#{artigo.titulo}"/>
                                        <f:param name="a" value="#{artigo.artigoPK.autor}"/>
                                        <f:param name="s" value="#{artigo.artigoPK.seq}"/>
                                    </h:outputLink>
                                </p>
                            </ui:repeat>
                        </h:panelGroup>
                    </h:panelGroup>
                </ace:panelExpansion>
            </ace:dataTable>
            <h:messages/>
        </h:form>
    </ui:define>
</ui:composition>
