<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:ice="http://www.icesoft.com/icefaces/component"
                xmlns:ace="http://www.icefaces.org/icefaces/components"
                xmlns:icecore="http://www.icefaces.org/icefaces/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/WEB-INF/templates/layout.xhtml">

    <ui:define name="top"/>

    <ui:define name="formulario">
        <h:form>
            <p class="style2" align="center"><span class="style9">GERENCIAMENTO DE INSCRIÇÕES</span></p>
            <ace:dataTable value="#{consultaIncricoesBean.inscricoesDataModel}" paginator="true"
                           var="inscricao" paginatorPosition="bottom" rows="20"
                           style="width: 755px">
           
                <ace:column headerText="+">
                    <ace:expansionToggler/>
                </ace:column>

                <ace:column headerText="Número" sortBy="#{inscricao.numero}">
                    <h:outputText value="#{inscricao.numero}">
                        <f:convertNumber pattern="00000"/>
                    </h:outputText>
                </ace:column>
                <ace:column headerText="CPF" sortBy="#{inscricao.cpf}">
                    <h:outputText value="#{inscricao.cpf}">
                        <f:convertNumber pattern="00000000000"/>
                    </h:outputText>
                </ace:column>
                <ace:column headerText="Nome" sortBy="#{inscricao.nome}"
                            filterBy="#{inscricao.nome}" filterMatchMode="startsWith">
                    <h:outputText value="#{inscricao.nome}"/>
                </ace:column>
                <ace:column headerText="Situação" sortBy="#{inscricao.situacao.descricao}"
                            filterBy="#{inscricao.situacao.codigo}" filterMatchMode="exact"
                            filterOptions="#{consultaIncricoesBean.situacaoFilterOptions}">
                    <f:facet name="header">
                        <h:graphicImage url="/imagens/tick_verde_10x10.png"/>
                    </f:facet>
                    <h:graphicImage url="#{inscricao.situacao.icone}" title="#{inscricao.situacao.descricao}"/>
                </ace:column>
                
                <ace:panelExpansion>
                    <h:panelGroup layout="block" style="text-align: left">
                        <h:outputText value="#{inscricao.categoria.descricao}"/><br/>
                        <h:outputText value="#{inscricao.endereco}"/><br/>
                        <h:outputText value="#{inscricao.cep}"/>
                        <h:outputText value="#{inscricao.cidade}" style="margin-left: 1em"/>
                        <h:outputText value="#{inscricao.estado}" style="margin-left: 1em"/><br/>
                        <h:outputText value="#{inscricao.fone}"/>
                        <h:outputText value="#{inscricao.email}" style="margin-left: 1em"/><br/>
                        <h:outputFormat value="Vencimento: {0, date, dd/MM/yyyy}">
                            <f:param value="#{inscricao.inscricaoPagamentoList[0].dataVencimento}"/>
                        </h:outputFormat>
                        <h:outputLink value="#{application.contextPath}/boleto.xhtml" target="_blank"
                                      style="margin-left: 1em;">
                            Gerar boleto
                            <f:param name="ninsc" value="#{inscricao.numero}"/>
                            <f:param name="npgto" value="#{inscricao.inscricaoPagamentoList[0].numeroDocumento}"/>
                        </h:outputLink>
                        <h:panelGroup layout="block"  rendered="#{inscricao.situacao.codigo != 2}" style="text-align: right">
                            <h:commandButton value="Excluir inscrição"
                                             onclick="ice.ace.instance('#{excluirInscricaoDialog.clientId}').show(); return false;"/>
                        </h:panelGroup>
                        
                        <ace:confirmationDialog id="excluirInscricaoDialog" header="Excluir inscrição" binding="#{excluirInscricaoDialog}"
                                                position="center" modal="true" draggable="false" width="300"
                                                message="Confirma a exclusão da inscrição número #{inscricao.numero}?">
                            <h:panelGroup layout="block" style="text-align: center;">
                                <h:panelGroup layout="block">
                                    <h:outputText value="Esta operação não poderá ser desfeita!"/>
                                </h:panelGroup>
                                <h:panelGroup layout="block" style="margin: 0.5em 2em;">
                                    <h:commandButton value="Sim" action="#{consultaIncricoesBean.excluiInscricaoAction}"
                                                     onclick="ice.ace.instance('#{excluirInscricaoDialog.clientId}').hide();">
                                        <f:ajax execute="@this" render="@all"/>
                                    </h:commandButton>
                                    <h:commandButton value="Não" style="margin-left: 1em;"
                                                     onclick="ice.ace.instance('#{excluirInscricaoDialog.clientId}').hide();">
                                        <f:ajax execute="@this" render="@all"/>
                                    </h:commandButton>
                                </h:panelGroup>
                            </h:panelGroup>
                        </ace:confirmationDialog>
                        
                        <ace:confirmationDialog id="alteraVenctoDialog" header="Alterar vencimento" binding="#{alteraVenctoDialog}"
                                                position="center" modal="true" draggable="false" width="300"
                                                message="Confirma a alteração do vencimento da inscrição número #{inscricao.numero}?">
                            <h:panelGroup layout="block" style="text-align: center;">
                                <h:panelGroup layout="block" style="margin: 0.5em 2em;">
                                    <h:commandButton value="Sim" action="null"
                                                     onclick="ice.ace.instance('#{alteraVenctoDialog.clientId}').hide();">
                                        <f:ajax execute="@this" render="@all"/>
                                    </h:commandButton>
                                    <h:commandButton value="Não" style="margin-left: 1em;"
                                                     onclick="ice.ace.instance('#{alteraVenctoDialog.clientId}').hide();">
                                        <f:ajax execute="@this" render="@all"/>
                                    </h:commandButton>
                                </h:panelGroup>
                            </h:panelGroup>
                        </ace:confirmationDialog>
                        
                    </h:panelGroup>
                </ace:panelExpansion>
            </ace:dataTable>
            <h:messages/>
        </h:form>
    </ui:define>
</ui:composition>
