<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ice="http://www.icesoft.com/icefaces/component"
                xmlns:ace="http://www.icefaces.org/icefaces/components"
                xmlns:icecore="http://www.icefaces.org/icefaces/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/templates/layout.xhtml">

    <ui:define name="top"/>

    <ui:define name="formulario">
        <h:form>
            <p class="style2" align="center"><span class="style9">PROCESSAMENTO DE RETORNOS DE PAGAMENTOS DO BANCO</span></p>
            <h:panelGroup layout="block">
                <ace:fileEntry label="Retornos"
                               relativePath="/WEB-INF/cobranca/retornos/"
                               maxFileCount="10"
                               maxFileCountMessage="Máximo de 10 arquivos simultâneos"
                               fileEntryListener="#{retornoUploadBean.uploadListener}"
                               maxFileSize="102400"
                               maxFileSizeMessage="Tamanho do arquivo excede o máximo permitido"
                               maxTotalSize="1048576"
                               maxTotalSizeMessage="Tamanho total dos arquivos excede o máximo permitido"
                               required="true"
                               requiredMessage="Selecione arquivos para enviar"
                               useOriginalFilename="true"
                               useSessionSubdir="false"
                               autoUpload="false"
                               multiple="true"/>
            </h:panelGroup>
            <h:messages/>
        </h:form>
    </ui:define>
</ui:composition>
