<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <c:set var="baseURL" value="http://ontobras.ct.utfpr.edu.br"/>
    <c:set var="contextPath" value="${request.contextPath}"/>
    <f:view>
        <ui:insert name="metadata"/>
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link href="${contextPath}/css/evento.css" rel="stylesheet" type="text/css" />
            <link href="${contextPath}/css/cogeti.css" rel="stylesheet" type="text/css" />
            <title>Ontobras</title>
        </h:head>

        <h:body>
            <div id="limites">

                <div id="fundotopo">
                    <div id="topo" title="Ontobras"></div>
                </div>


                <div id="coldireita">
                    <h1>inscrições</h1>
                    <ui:insert name="formulario"/>
                    <p>&nbsp;</p>
                </div>

                <div id="rodape">
                        <address>
                        © 2016<a href="http://www.ct.utfpr.edu.br" onclick="window.open(this.href,'_blank');return false;" title="Link para o site da UTFPR"> universidade
                        tecnológica federal do paraná - campus curitiba</a>
                        </address>
                </div>
            </div>
            
        </h:body>
    </f:view>
</html>
