/* 
    Document   : boleto
    Created on : Jul 14, 2011, 12:05:30 PM
    Author     : Wilson
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    line-height: 11px;
}

.boletoBloco {
    width: 170mm;
    height: auto;
    border: 1px black solid;
    border-top: none;
    padding: 0;
    margin: 0;
}

.boletoBloco > div {
    border: none;
    border-top: 1px black solid;
    width: 100%;
}

.boletoBloco > div div {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    border: none;
    border-left: 1px black solid;
}

.boletoBloco > div div:first-child {
    border-left: 1px none;
}

.boletoBloco > div div span {
    font-size: 6pt;
    margin-left: 1mm;
}


