
* {
    margin: 0 auto;
    padding: 0;
}

body {
    background: #fff none repeat scroll 0 0;
    color: #323232;
    font-family: "Trebuchet MS","Franklin Gothic Medium",Arial,sans-serif;
    font-size: 12px;
}

img {
    border: medium none;
}

#limites {
    margin-left: auto;
    margin-right: auto;
    min-height: 1000px;
    width: 800px;
}

#limites2 {
    margin-left: auto;
    margin-right: auto;
    min-height: 550px;
    width: 800px;
}

abbr, acronym {
    cursor: help;
}

#fundotopo {
    /*  background: rgba(0, 0, 0, 0) url("../imagens/fundotopo.png") repeat scroll 0 0; */
    border-bottom: 1px dotted black;
    height: 228px;
    margin-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

#topo {
    background: rgba(0, 0, 0, 0) url("../imagens/topo.png") no-repeat scroll 0 0;
    height: 228px;
    width: 800px;
}

#topoinstrução {
    background: rgba(0, 0, 0, 0) url("../images/topcalem.jpg") no-repeat scroll 0 0;
    height: 102px;
    width: 780px;
}

#colesquerda {
    float: left;
    margin-right: 20px;
    width: 200px;
}

#colesquerda li {
    list-style-type: none;
}

#patrocinio {
    float: left;
    margin-right: 20px;
    width: 200px;
}

.menutopo1, .menutopo2, .menutopo3 {
    color: #eeeeee;
    font-weight: bold;
    height: 18px;
    padding-left: 10px;
    padding-top: 5px;
    text-transform: uppercase;
    width: 200px;
}

.menutopo1 {
    background: #004800 none repeat scroll 0 0;
}

.menutopo2 {
    background: #8588ae none repeat scroll 0 0;
}

.menutopopontos {
    border-bottom: 1px dotted black;
    height: 1px;
    width: 216px;
}

.menu1, .menu2 {
    background: rgba(0, 0, 0, 0) url("../imagens/menu_foot.gif") no-repeat scroll right bottom;
    margin-bottom: 7px;
    margin-top: 3px;
    padding: 11px 8px 6px;
    width: 200px;
}

.menu1 {
    background-color: #e8ffe8;
}

.menu2 {
    background-color: #edeef4;
}

a.menu, a.menu:visited {
    background: #e4e4e4 none repeat scroll 0 0;
    border-bottom: 1px solid #a7a7a7;
    color: #3b3b3b;
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 7px;
    text-decoration: none;
    width: 75%;
}

a.menu:hover {
    background: #dadada none repeat scroll 0 0;
    border-right: 2px solid #a7a7a7;
    color: #5d5d5d;
}

#coldireita {
    background: #f7f7f7 url("../imagens/conteudo_final.gif") repeat-x scroll center bottom;
    float: left;
    margin-bottom: 10px;
    min-height: 231px;
    padding: 11px;
    width: 800px;
}

#coldireita a, a:visited {
    color: #0069b5;
    text-decoration: none;
}

#coldireita a:hover {
    color: #3b3b3b;
    text-decoration: underline;
}

#coldireita p {
    margin-bottom: 10px;
}

#coldireita ul {
    list-style-type: square;
    margin-bottom: 10px;
    margin-left: 20px;
}

.sublista li {
    background: #eaf4fa none repeat scroll 0 0;
    list-style-type: none !important;
    margin-bottom: 10px;
    padding-left: 4px;
}

.sublista ul li {
    margin-bottom: 0 !important;
}

#info {
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center;
}

p.foto {
    margin-left: 63px;
}

.link {
    font-weight: bold;
}

#coldireita h1, #coldireita h4 {
    background: rgba(0, 0, 0, 0) url("../imagens/conteudo_titulo_bg.gif") repeat-x scroll 0 0;
    border: 1px solid #e4e4e4;
    color: #323232;
    font-weight: bold;
    height: auto;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-top: 5px;
    text-transform: uppercase;
    width: 790px;
}

#coldireita h1 {
    font-size: 18px;
}

#coldireita h4 {
    font-size: 13px;
    padding: 1px 0 5px 10px;
}

#coldireita table {
    margin-bottom: 10px;
    width: 100%;
}

#coldireita table td {
    border-bottom: 1px solid #dfdfdf;
    padding: 3px;
}

#coldireita table caption {
    background: #77c2ef none repeat scroll 0 0;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#coldireita hr {
    border: 1px solid #e4e4e4;
    color: black;
    height: 1px;
    margin-bottom: 5px;
}

a#voltar, a#voltar:visited {
    background: #fafafa none repeat scroll 0 0;
    border-bottom: 2px solid gray;
    color: #3b3b3b !important;
    display: block;
    float: left;
    margin-bottom: 10px;
    padding: 3px 0 0 6px;
    width: 80px;
}

a#voltar:hover {
    background: #e7e7e7 none repeat scroll 0 0;
    text-decoration: none !important;
}

#valid {
    clear: both;
    height: 25px;
    margin-right: 10px;
    text-align: right;
    text-transform: uppercase;
    width: 764px;
}

a.validcss, a.validxhtml {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ededed;
    border-color: #676767;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 10px;
    color: #333333;
    display: block;
    float: right;
    font-size: 10px;
    padding: 2px;
    text-decoration: none;
    width: 45px;
}

a.validcss:hover, a.validxhtml:hover {
    background-color: #e5e5e5;
}

a.validxhtml {
    margin-left: 2px;
    margin-right: 7px;
}

#rodape {
    background: rgba(0, 0, 0, 0) url("../imagens/foot_bg.gif") repeat-x scroll 0 0;
    border-top: 1px solid #bababa;
    clear: both;
    height: 23px;
    margin-top: 5px;
    padding: 4px 5px 0 0;
    width: 800px;
}

#rodape address {
    color: #323232 !important;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
}

#rodape address a, a:hover, a:visited {
    color: black;
    text-decoration: none;
}

.tittabela {
    color: #eeeeee;
    font-weight: bold;
    height: 18px;
    padding-left: 8px;
    padding-top: 5px;
    text-transform: uppercase;
}

.tittabela {
    background: #2379aa none repeat scroll 0 0;
}
