/*******************************************************************************
    Estilos adicionais ou modificações dos estilos aplicados pelo Icefaces.
*******************************************************************************/
body {
    margin: 0;
    padding: 0;
}

.single-submit {
    display: none;
}

.ui-input-label {
    font-size: 10pt;
    color: black;
    font-family: Candara;
    width: auto;
}

.ui-input-label-left:after {
    content: ": ";
}

.ui-required-indicator {
    font-size: small;
    vertical-align: super;
}

/* div com esta classe envolve ice:messages para aplicação de estilo */
div.cemaIceMsgsContainer {
    margin-top: 1em;
    background-color: #F8F9C4;
    border: yellow solid medium;
}

/* cantos arredondados para os botões */
input[type="submit"] {
    border-radius: 8px;
    border-style: solid;
    cursor: pointer;
}

div.cemaIceMsgsContainer ul {
    margin: 4px;
    font-size: 8pt;
    font-family: sans-serif;
    list-style-type: none;
}

div.cemaIceMsgsContainer ul li span.iceMsgsError {
    color: red;
}

div.cemaIceMsgsContainer ul li span.iceMsgsInfo {
    color: green;
}

div.cemaIceMsgsContainer ul li {
    list-style-image: url("../imagens/atencao_10x10.png");
}


/* tamanho da fonte dos componentes de entrada ace */
.ui-widget {
    font-size: 10pt;
}

/* retira o padrão de fundo dos campos entry */
.evento-textentry-default.ui-inputfield, p .ui-textareaentry {
    background: none;
}

.evento-textentry-default.ui-input-label-left {
    background: none;
    width: 50px;
}

.ice-linkbutton {
    display: inline-block;
    font-weight: normal;
    width: 205px;
}

.ice-linkbutton:hover a {
    font-weight: bolder;
}

.evento-botao-validar {
    font-size: 12pt;
    font-weight: bold;
}

.cemaValor {
    color: brown;
    font-size: 10pt;
    font-family: Candara;
    font-style: italic;
    font-weight: bolder;
    margin-left: 1em;
    vertical-align: 25%;
}

.cemaValorTotal {
    font-size: 10pt;
    background-color: bisque;
    font-family: Candara;
    font-style: italic;
    font-weight: bold;
    width: 95%;
    margin: 3px;
}

.cemaMsgNumero {
    font-family: sans-serif;
}

.cemaLinkBoleto {
    font-family: sans-serif;
    margin-left: 1.5em;
}

.cemaLinkContinuar {
    font-family: sans-serif;
    margin-left: 1.5em;
}
