<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ice="http://www.icesoft.com/icefaces/component"
                xmlns:ace="http://www.icefaces.org/icefaces/components"
                xmlns:icecore="http://www.icefaces.org/icefaces/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="./WEB-INF/templates/layout.xhtml">

    <ui:define name="top"/>

    <ui:define name="formulario">
        <h:form>
            <p class="style2" align="center"><span class="style9">SUBMISSÃO DE TRABALHOS</span></p>
            <h:panelGroup layout="block">
                <p>
                    <ace:maskedEntry value="#{artigoUploadBean.cpf}"  mask="999999999-99" label="CPF" size="16" required="true"
                                     requiredIndicator="*" labelPosition="left" indicatorPosition="left" styleClass="evento-textentry-default"
                                     disabled="#{!empty artigoUploadBean.inscricao}">
                        <f:validator validatorId="CPFValidator"/>
                        <f:converter converterId="CPFConverter"/>
                    </ace:maskedEntry>
                </p>
                <p>
                    <ace:maskedEntry value="#{artigoUploadBean.fone}"  mask="(99) 99999999?9" label="Telefone para contato" size="18" required="true"
                                     requiredIndicator="*" labelPosition="left" indicatorPosition="left" styleClass="evento-textentry-default"
                                     disabled="#{!empty artigoUploadBean.inscricao}">
                        <f:converter converterId="PhoneConverter"/>
                    </ace:maskedEntry>
                </p>
                <p style="margin-top: 10px">
                    <ace:textEntry size="58" maxlength="100" value="#{artigoUploadBean.email}" label="E-mail" required="true" requiredIndicator="*"
                                   indicatorPosition="left" labelPosition="left" styleClass="evento-textentry-default"
                                   disabled="#{!empty artigoUploadBean.inscricao}"/>
                </p>
            </h:panelGroup>
            <h:panelGroup style="text-align: center; margin-top: 2em" layout="block" rendered="#{empty artigoUploadBean.inscricao}">
                <h:commandButton value="Validar inscrição" action="#{artigoUploadBean.validaInscricaoAction}"/>
            </h:panelGroup>
            <h:panelGroup layout="block" rendered="#{!empty artigoUploadBean.inscricao}" style="margin-top: 2em;">
                <h:panelGroup layout="block" rendered="#{artigoUploadBean.inscricaoConfirmada and !artigoUploadBean.maxArtigosSubmetidos}">
                    <h:panelGroup layout="block">
                        <p>
                            <ace:textEntry size="75" maxlength="200" value="#{artigoUploadBean.artigo.titulo}" label="Título" required="true" requiredIndicator="*"
                                           indicatorPosition="left" labelPosition="left" styleClass="evento-textentry-default"/>
                        </p>
                    </h:panelGroup>
                    <h:panelGroup layout="block">
                        <p>
                            <ace:textAreaEntry value="#{artigoUploadBean.artigo.resumo}" cols="72" rows="5"
                                               label="Resumo" required="true" requiredIndicator="*"
                                               indicatorPosition="left" labelPosition="left"/>
                        </p>
                    </h:panelGroup>
                    <ace:fileEntry id="fileUpload"
                                   label="Arquivo"
                                   relativePath="/WEB-INF/artigos/#{artigoUploadBean.inscricao.numero}"
                                   fileEntryListener="#{artigoUploadBean.uploadListener}"
                                   maxFileSize="1048576"
                                   maxFileSizeMessage="Tamanho do arquivo excede o máximo permitido"
                                   required="true"
                                   requiredMessage="Selecione um arquivo para enviar"
                                   useOriginalFilename="true"
                                   useSessionSubdir="false"
                                   autoUpload="false"
                                   multiple="false"/>
                    <h:panelGroup style="text-align: center; margin: 2em 0 2em 0" layout="block">
                        <h:commandButton value="Submeter trabalho" action="#{artigoUploadBean.submeterTrabalhoAction}">
                        </h:commandButton>
                    </h:panelGroup>
                </h:panelGroup>
                <p class="style2" style="text-align: center; margin-top: 2em;"><span class="style9">TRABALHOS SUBMETIDOS</span></p>
                <ace:dataTable value="#{artigoUploadBean.inscricao.artigoList}" var="artigo" style="width: 750px;"
                               emptyMessage="Nenhum trabalho submetido até o momento" >
                    <ace:column headerText="+" style="width: 20px;">
                        <ace:expansionToggler/>
                    </ace:column>
                    <ace:column headerText="Título" style="text-align: left;">
                        <h:outputLink value="#{request.contextPath}/artigo/download">
                            <h:outputText value="#{artigo.titulo}"/>
                            <f:param name="a" value="#{artigo.artigoPK.autor}"/>
                            <f:param name="s" value="#{artigo.artigoPK.seq}"/>
                            <f:param name="h" value="#{artigoUploadBean.artigoHash}"/>
                        </h:outputLink>
                    </ace:column>
                    <ace:column headerText="Data" style="width: 120px;">
                        <h:outputText value="#{artigo.dataSubmissao}">
                            <f:convertDateTime type="both" dateStyle="short" timeStyle="short"/>
                        </h:outputText>
                    </ace:column>
                    <ace:column headerText="Situação" style="width: 80px;">
                        <h:outputText value="#{artigo.situacao.descricao}"/>
                    </ace:column>

                    <ace:panelExpansion>
                        <h:panelGroup layout="block" style="text-align: left">
                            <h:outputText value="#{artigo.resumo}"/>
                        </h:panelGroup>
                    </ace:panelExpansion>
                </ace:dataTable>
            </h:panelGroup>
            <h:messages/>
        </h:form>
    </ui:define>
</ui:composition>
