<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
    <f:view>
        <f:metadata>
            <f:viewParam name="ninsc" value="#{boletoBean.numeroInscricao}"/>
            <f:viewParam name="npgto" value="#{boletoBean.numeroPagamento}"/>
            <f:viewParam name="avulso" value="#{boletoBean.avulso}"/>
        </f:metadata>
        <h:head>
            <title>Boleto de Pagamento da taxa de inscrição</title>
            <link rel="stylesheet" type="text/css" href="./css/boleto.css"/>
        </h:head>
        <h:body styleClass="ice-skin-rime">
            <f:loadBundle basename="cema.boleto.campos" var="paramBoleto"/>
            <h:form id="form">
                <div class="boletoBloco" style="border: none">
                    <div style="height: auto; border: none">
                        <div style="width: 100mm; border: none">
                            <span style="font-weight: bold; font-size: 8pt">CEDENTE: </span>
                            <span style="font-size: 8pt">${paramBoleto['boleto.cedente.nome']}</span>
                            <span style="font-size: 8pt; margin-left: 4em">CNPJ: ${paramBoleto['boleto.cedente.cnpj']}</span>
                        </div>
                        <div style="width: 68mm; text-align: right; border: none">
                            <span style="font-weight: bold; font-size: 8pt">RECIBO DO SACADO</span>
                        </div>
                    </div>
                </div>
                <div class="boletoBloco">
                    <div style="height: 7mm">
                        <div style="width: 90mm">
                            <span>Nome do Cliente</span><br/>
                            <span style="font-size: 8pt">${boletoBean.nomeSacado}</span>
                        </div>
                        <div style="width: 30mm">
                            <span>Data de Vencimento</span><br/>
                            <div style="width: 100%; height: auto; text-align: center; border: none; margin: 0">
                                <h:outputText style="font-size: 8pt" value="${boletoBean.dataVencimento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{boletoBean.timeZone}"/>
                                </h:outputText>
                            </div>
                        </div>
                        <div style="width: 45mm">
                            <span>Valor do Documento</span>
                            <div style="width: 100%; height: auto; text-align: right; border: none; margin: 0">
                                <h:outputText style="font-size: 8pt" value="${boletoBean.valorDocumento}">
                                    <f:convertNumber pattern="0.00" locale="pt_BR"/>
                                </h:outputText>
                            </div>
                        </div>
                    </div>

                    <div style="height: 7mm">
                        <div style="width: 50mm">
                            <span>Agência/Código do Cedente</span><br/>
                            <div style="width: 100%; height: auto; text-align: center; border: none; margin: 0">
                                <h:outputFormat value="${paramBoleto['boleto.cedente.format']}" style="font-size: 8pt">
                                    <f:param value="${boletoBean.getParamAsInt('boleto.agencia.codigo')}"/>
                                    <f:param value="${boletoBean.getParamAsInt('boleto.cedente.codigo')}"/>
                                    <f:param value="${paramBoleto['boleto.cedente.dv']}"/>
                                </h:outputFormat>
                            </div>
                        </div>
                        <div style="width: 50mm">
                            <span>Nosso Número</span><br/>
                            <div style="width: 100%; height: auto; text-align: center; border: none; margin: 0">
                                <span style="font-size: 8pt">${boletoBean.nossoNumero}-${boletoBean.dvNossoNumero}</span>
                            </div>
                        </div>
                        <div style="width: 65mm; text-align: center">
                            <span>Autenticação Mecânica</span>
                        </div>
                    </div>
                </div>

                <div style="width: 170mm; border-top: 1px black dotted; margin: 10mm 0mm 2mm 0mm"/>

                <div class="boletoBloco" style="border: none">
                    <div style="height: 9mm; border: none">
                        <div style="width: 40mm; border: none; text-align: center">
                            <img src="#{paramBoleto['boleto.banco.urlLogo']}" alt=""/>
                        </div>
                        <div style="width: 15mm; text-align: center">
                            <p style="font-size: 16pt; font-weight: bold; margin: 2mm 0">
                                ${paramBoleto['boleto.banco.codigo']}-${paramBoleto['boleto.banco.dv']}
                            </p>
                        </div>
                        <div style="width: 111mm; text-align: right">
                            <p style="font-size: 12pt; font-weight: bold; margin: 2mm 0">${boletoBean.linhaDigitavel}</p>
                        </div>
                    </div>
                </div>

                <div class="boletoBloco">
                    <div style="height: 7mm">
                        <div style="width: 125mm">
                            <span>Local de Pagamento</span><br/>
                            <span style="font-size: 8pt">
                                ${paramBoleto['boleto.localPgto']}
                            </span>
                        </div>
                        <div style="width: 43.6mm">
                            <span>Vencimento</span><br/>
                            <div style="width: 42mm; height: auto; text-align: right; border: none">
                                <h:outputText style="font-size: 8pt" value="${boletoBean.dataVencimento}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{boletoBean.timeZone}"/>
                                </h:outputText>
                            </div>
                        </div>
                    </div>

                    <div style="height: 7mm">
                        <div style="width: 125mm">
                            <span>Cedente</span><br/>
                            <span style="font-size: 8pt">${paramBoleto['boleto.cedente.nome']}
                                <span style="font-size: 8pt; margin-left: 4em">CNPJ: ${paramBoleto['boleto.cedente.cnpj']}</span>
                            </span>
                        </div>
                        <div style="width: 42mm">
                            <span>Agência/Código do Cedente</span>
                            <div style="width: 100%; height: auto; text-align: right; border: none; margin: 0">
                                <h:outputFormat value="${paramBoleto['boleto.cedente.format']}" style="font-size: 8pt">
                                    <f:param value="${boletoBean.getParamAsInt('boleto.agencia.codigo')}"/>
                                    <f:param value="${boletoBean.getParamAsInt('boleto.cedente.codigo')}"/>
                                    <f:param value="${paramBoleto['boleto.cedente.dv']}"/>
                                </h:outputFormat>
                            </div>
                        </div>
                    </div>

                    <div style="height: 7mm">
                        <div style="width: 125mm">
                            <div style="width: 20mm">
                                <span>Data Documento</span><br/>
                                <div style="width: 100%; height: auto; text-align: center; border: none; margin: 0">
                                    <h:outputText style="font-size: 8pt" value="${boletoBean.dataDocumento}">
                                        <f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{boletoBean.timeZone}"/>
                                    </h:outputText>
                                </div>
                            </div>
                            <div style="width: 29mm">
                                <span>Nr. Documento</span><br/>
                                <div style="width: 100%; height: auto; text-align: center; border: none; margin: 0">
                                    <h:outputText style="font-size: 8pt" value="${boletoBean.numeroDocumento}">
                                        <f:convertNumber pattern="000000000000000"/>
                                    </h:outputText>
                                </div>
                            </div>
                            <div style="width: 26mm">
                                <span>Espécie Doc.</span><br/>
                                <div style="width: 100%; height: auto; text-align: center; border: none; margin: 0">
                                    <span style="font-size: 8pt">${paramBoleto['boleto.especieDoc']}</span>
                                </div>
                            </div>
                            <div style="width: 15mm">
                                <span>Aceite</span><br/>
                                <div style="width: 100%; height: auto; text-align: center; border: none; margin: 0">
                                    <span style="font-size: 8pt">${paramBoleto['boleto.aceite']}</span>
                                </div>
                            </div>
                            <div style="width: 29mm">
                                <span>Data Processamento</span><br/>
                                <div style="width: 100%; height: auto; text-align: center; border: none; margin: 0">
                                    <h:outputText style="font-size: 8pt" value="${boletoBean.dataProcessamento}">
                                        <f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{boletoBean.timeZone}"/>
                                    </h:outputText>
                                </div>
                            </div>
                        </div>
                        <div style="width: 42mm">
                            <span>Nosso Número/Cód. do Documento</span><br/>
                            <div style="width: 100%; height: auto; text-align: right; border: none; margin: 0">
                                <span style="font-size: 8pt">${boletoBean.nossoNumero}-${boletoBean.dvNossoNumero}</span>
                            </div>
                        </div>
                    </div>

                    <div style="height: 7mm">
                        <div style="width: 125mm">
                            <div style="width: 32mm">
                                <span>Uso do Banco</span><br/>
                                <span style="font-size: 8pt"></span>
                            </div>
                            <div style="width: 22mm">
                                <span>Carteira</span><br/>
                                <div style="width: 100%; height: auto; text-align: center; border: none; margin: 0">
                                    <span style="font-size: 8pt">${paramBoleto['boleto.carteira.simbolo']}</span>
                                </div>
                            </div>
                            <div style="width: 22mm">
                                <span>Espécie Moeda</span><br/>
                                <div style="width: 100%; height: auto; text-align: center; border: none; margin: 0">
                                    <span style="font-size: 8pt">${paramBoleto['boleto.moeda.simbolo']}</span>
                                </div>
                            </div>
                            <div style="width: 26mm">
                                <span>Quantidade Moeda</span><br/>
                                <span style="font-size: 8pt"></span>
                            </div>
                            <div style="width: 17mm">
                                <span>Valor Moeda</span><br/>
                                <span style="font-size: 8pt"></span>
                            </div>
                        </div>
                        <div style="width: 42mm">
                            <span>(=) Valor do Documento</span><br/>
                            <div style="width: 100%; height: auto; text-align: right; border: none; margin: 0">
                                <h:outputText style="font-size: 8pt" value="${boletoBean.valorDocumento}">
                                    <f:convertNumber pattern="0.00" locale="pt_BR"/>
                                </h:outputText>
                            </div>
                        </div>
                    </div>

                    <div style="height: 35mm">
                        <div style="width: 125mm">
                            <span>Instruções <b>(Texto de Responsabilidade do Cedente)</b></span><br/>
                            <ui:repeat value="#{boletoBean.instrucoes}" var="instrucao">
                                <h:outputText value="#{instrucao}" style="display: block; font-size: 8pt"/>
                            </ui:repeat>
                        </div>
                        <div style="width: 42mm">
                            <div style="height: 6.75mm; width: 44mm; border-bottom: 1px black solid">
                                <span>(-) Desconto</span>
                                <span style="font-size: 8pt"></span>
                            </div>
                            <div style="height: 6.75mm; width: 44mm; border-bottom: 1px black solid; border-left: 1px none">
                                <span>(-) Outras Deduções/Abatimentos</span>
                                <span style="font-size: 8pt"></span>
                            </div>
                            <div style="height: 6.75mm; width: 44mm; border-bottom: 1px black solid; border-left: 1px none">
                                <span>(+) Mora/Multa/Juros</span>
                                <span style="font-size: 8pt"></span>
                            </div>
                            <div style="height: 6.75mm; width: 44mm; border-bottom: 1px black solid; border-left: 1px none">
                                <span>(+) Outros Acréscimos</span>
                                <span style="font-size: 8pt"></span>
                            </div>
                            <div style="height: 6.75mm; width: 44mm; border-left: 1px none">
                                <span>(=) Valor Cobrado</span>
                                <span style="font-size: 8pt"></span>
                            </div>
                        </div>
                    </div>

                    <div style="height: 19mm">
                        <div style="width: 100%">
                            <span>Sacado</span><br/>
                            <h:outputText style="font-size: 8pt" value="#{boletoBean.nomeSacado}"/>
                            <h:outputFormat style="font-size: 8pt; margin-left: 10em" value="CPF: ${paramBoleto['boleto.sacado.cpf']}">
                                <f:param value="#{(boletoBean.inscricao.cpf - boletoBean.inscricao.cpf % 100)/100}"/>
                                <f:param value="#{boletoBean.inscricao.cpf % 100}"/>
                            </h:outputFormat><br/>
                            <h:outputText style="font-size: 8pt" value="#{boletoBean.inscricao.endereco}"/>
                            <h:outputText style="font-size: 8pt; margin-left: 1em" value="#{boletoBean.inscricao.complemento}"/><br/>
                            <h:outputText style="font-size: 8pt" value="#{boletoBean.inscricao.bairro}"/><br/>
                            <h:outputText style="font-size: 8pt" value="#{boletoBean.inscricao.cep}"/>
                            <h:outputText style="font-size: 8pt; margin-left: 1em" value="#{boletoBean.inscricao.cidade}"/>
                            <h:outputText style="font-size: 8pt; margin-left: 1em" value="#{boletoBean.inscricao.estado}"/><br/>
                        </div>
                    </div>
                </div>

                <div class="boletoBloco" style="border: none">
                    <div style="height: 20mm; border: none">
                        <div style="width: auto; height: auto; text-align: left; border: none">
                            <img src="barcode?code=${boletoBean.codigoBarras}" style="margin: 5.5mm 0 0 5mm; width: 105mm; height: 13mm" alt=""/>
                        </div>
                        <div style="width: 24mm; text-align: center; border: none">
                            <span>Autenticação Mecânica</span>
                        </div>
                        <div style="width: 32mm; text-align: right; border: none">
                            <span style="font-weight: bold; font-size: 6pt">FICHA DE COMPENSAÇÃO</span>
                        </div>
                    </div>
                </div>
            </h:form>
        </h:body>
    </f:view>
</html>
