<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ice="http://www.icesoft.com/icefaces/component"
                xmlns:ace="http://www.icefaces.org/icefaces/components"
                xmlns:icecore="http://www.icefaces.org/icefaces/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="./WEB-INF/templates/layout.xhtml">

    <ui:define name="top"/>

    <ui:define name="content">
        <div id="apDiv1">
            <div id="apDiv7"><img src="${baseURL}/imagem/barra_azul.png" height="37"
                                  width="1200" /></div>
            <img src="${baseURL}/imagem/BARRA_SUP_COREL12.png" height="110" width="1190" /></div>
        <div id="apDiv9"></div>
        <div id="apDiv10">
            <div id="apDiv13">
                <div align="right"><a href="${baseURL}/prog_completa.html"
                                      onmouseout="MM_swapImgRestore()"
                                      onmouseover="MM_swapImage('Image5','','${baseURL}/imagem/prog_compl_clicado.png',1)"><img
                            style="border: 0px solid ; width: 188px; height: 70px;" alt=""
                            src="${baseURL}/imagem/prog_compl.png" name="Image5" id="Image5" /></a></div>
            </div>
            <div id="apDiv14">
                <div align="right"><a href="${baseURL}/inscricao.html"
                                      onmouseout="MM_swapImgRestore()"
                                      onmouseover="MM_swapImage('Image6','','${baseURL}/imagem/inscricao_clicado.png',1)"><img
                            src="${baseURL}/imagem/inscricao.png" name="Image6" id="Image6" border="0"
                            height="70" width="188" /></a></div>
            </div>
            <div id="apDiv15">
                <div align="right"><a href="${baseURL}/submissao.html"
                                      onmouseout="MM_swapImgRestore()"
                                      onmouseover="MM_swapImage('Image13','','${baseURL}/imagem/submissao_clicado.png',1)"><img
                            src="${baseURL}/imagem/submissao.png" name="Image13" id="Image13" border="0"
                            height="70" width="188" /></a></div>
            </div>
            <div id="apDiv16">
                <div align="right"><a href="${baseURL}/localizacao.html"
                                      onmouseout="MM_swapImgRestore()"
                                      onmouseover="MM_swapImage('Image8','','${baseURL}/imagem/localizacao_clicado.png',1)"><img
                            src="${baseURL}/imagem/localizacao.png" name="Image8" id="Image8" border="0"
                            height="70" width="188" /></a></div>
            </div>
            <div id="apDiv17">
                <div align="right"><a href="${baseURL}/contato.html"
                                      onmouseout="MM_swapImgRestore()"
                                      onmouseover="MM_swapImage('Image9','','${baseURL}/imagem/contato_clicado.png',1)"><img
                            src="${baseURL}/imagem/contato.png" name="Image9" id="Image9" border="0"
                            height="70" width="188" /></a></div>
            </div>
            <div id="apDiv18">
                <div align="right"><a href="${baseURL}/equipe.html"
                                      onmouseout="MM_swapImgRestore()"
                                      onmouseover="MM_swapImage('Image10','','${baseURL}/imagem/equipe_clicado.png',1)"><img
                            src="${baseURL}/imagem/equipe.png" name="Image10" id="Image10" border="0"
                            height="70" width="188" /></a></div>
            </div>
        </div>
        <div id="apDiv11">
            <div align="right"><a href="${baseURL}/index.html" onmouseout="MM_swapImgRestore()"
                                  onmouseover="MM_swapImage('Image11','','${baseURL}/imagem/inicio_clicado.png',1)"><img
                        src="${baseURL}/imagem/inicio.png" name="Image11" id="Image11" border="0"
                        height="70" width="188" /></a></div>
        </div>
        <div id="apDiv12">
            <div align="right"><a href="${baseURL}/prog_res.html"
                                  onmouseout="MM_swapImgRestore()"
                                  onmouseover="MM_swapImage('Image12','','${baseURL}/imagem/PRO_RES_CLICADO.png',1)"><img
                        src="${baseURL}/imagem/PRO_RES.png" name="Image12" id="Image12" border="0"
                        height="70" width="188" /></a></div>
        </div>
        <div id="apDiv19">
            <div id="apDiv20">
                <p class="style2" align="center"><span class="style9">Universidade
                        Tecnológica Federal do Paraná - Câmpus Curitiba</span><br />
                    <span class="style10">15 a 19 de Abril de 2013</span></p>
            </div>
            <div id="apDiv33"></div>
            <div id="apDiv37">
                <ice:form>
                    <p class="style2" align="center"><span class="style9">CONSULTA DE CERTIFICADOS</span></p>
                    <ice:panelGroup>
                        <p>
                            <ace:maskedEntry value="#{certificadosBean.cpf}"  mask="999999999-99" label="CPF"
                                             size="16" required="true" requiredIndicator="*" labelPosition="left" indicatorPosition="left">
                                <f:validator validatorId="CPFValidator"/>
                                <f:converter converterId="CPFConverter"/>
                            </ace:maskedEntry>
                        </p>
                        <p>
                            <ace:maskedEntry value="#{certificadosBean.fone}"  mask="(99) 99999999?9" label="Telefone para contato"
                                             size="18" required="true" requiredIndicator="*" labelPosition="left" indicatorPosition="left">
                                <f:converter converterId="PhoneConverter"/>
                            </ace:maskedEntry>
                        </p>
                        <p>
                            <ace:textEntry size="58" maxlength="100" value="#{certificadosBean.email}" label="E-mail"
                                           required="true" requiredIndicator="*" indicatorPosition="left" labelPosition="left"/>
                        </p>
                    </ice:panelGroup>
                    <ice:panelGroup style="text-align: center; margin-top: 1em">
                        <ice:commandButton value="Obter Certificados" action="#{certificadosBean.certificadosAction()}"/>
                    </ice:panelGroup>
                    <ice:panelGroup styleClass="style2" style="margin-top: 1em; font-size: 12pt" rendered="#{!empty certificadosBean.inscricao}">
                        <div><ice:outputText  value="Seus certificados:"/></div>
                        <div style="margin: 0.5em 0 0.5em 2em"><ice:outputText value="Não existem certificados disponíveis" style="color: red" rendered="#{empty certificadosBean.links}"/></div>
                        <ice:repeat value="#{certificadosBean.links}" var="link">
                            <div style="margin: 0.5em 0 0.5em 2em"><ice:outputLink value="#{link[0]}" target="_blank">#{link[1]}</ice:outputLink></div>
                        </ice:repeat>
                    </ice:panelGroup>
                    <ice:panelGroup styleClass="cemaIceMsgsContainer" rendered="#{facesContext.messageList.size() > 0}">
                        <ice:messages/>
                    </ice:panelGroup>
                </ice:form>
            </div>
        </div>
        <div id="apDiv21"></div>
    </ui:define>
</ui:composition>
