<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ice="http://www.icesoft.com/icefaces/component"
                xmlns:ace="http://www.icefaces.org/icefaces/components"
                xmlns:icecore="http://www.icefaces.org/icefaces/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="./WEB-INF/templates/layout.xhtml">

    <ui:define name="top"/>

    <ui:define name="formulario">
        <h:form>
            <p class="style2" align="center"><span class="style9">CONSULTA INSCRIÇÃO</span></p>
            <h:panelGroup layout="block">
                <p>
                    <ace:maskedEntry value="#{consultaBean.cpf}"  mask="999999999-99" label="CPF" size="16" required="true"
                                     requiredIndicator="*" labelPosition="left" indicatorPosition="left" styleClass="evento-textentry-default">
                        <f:validator validatorId="CPFValidator"/>
                        <f:converter converterId="CPFConverter"/>
                    </ace:maskedEntry>
                </p>
                <p>
                    <ace:maskedEntry value="#{consultaBean.fone}"  mask="(99) 99999999?9" label="Telefone para contato" size="18" required="true"
                                     requiredIndicator="*" labelPosition="left" indicatorPosition="left" styleClass="evento-textentry-default">
                        <f:converter converterId="PhoneConverter"/>
                    </ace:maskedEntry>
                </p>
                <p style="margin-top: 10px">
                    <ace:textEntry size="58" maxlength="100" value="#{consultaBean.email}" label="E-mail" required="true" requiredIndicator="*"
                                   indicatorPosition="left" labelPosition="left" styleClass="evento-textentry-default"/>
                </p>
            </h:panelGroup>
            <h:panelGroup style="text-align: center; margin-top: 1em" layout="block">
                <h:commandButton value="Consultar" action="#{consultaBean.consultaAction}"/>
            </h:panelGroup>
            <h:panelGroup styleClass="cemaIceMsgsContainer" rendered="#{facesContext.messageList.size() > 0}" layout="block">
                <h:messages/>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
