<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ice="http://www.icesoft.com/icefaces/component"
                xmlns:ace="http://www.icefaces.org/icefaces/components"
                xmlns:icecore="http://www.icefaces.org/icefaces/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="./WEB-INF/templates/layout.xhtml">

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="top"/>

    <ui:define name="content">
        <div id="apDiv1">
            <div id="apDiv7"><img src="${baseURL}/imagem/barra_azul.png" height="37"
                                  width="1200" /></div>
            <img src="${baseURL}/imagem/BARRA_SUP_COREL12.png" height="110" width="1190" /></div>
        <div id="apDiv9"></div>
        <div id="apDiv10">
            <div id="apDiv13">
                <div align="right"><a href="${baseURL}/prog_completa.html"
                                      onmouseout="MM_swapImgRestore()"
                                      onmouseover="MM_swapImage('Image5','','${baseURL}/imagem/prog_compl_clicado.png',1)"><img
                            style="border: 0px solid ; width: 188px; height: 70px;" alt=""
                            src="${baseURL}/imagem/prog_compl.png" name="Image5" id="Image5" /></a></div>
            </div>
            <div id="apDiv14">
                <div align="right"><a href="${baseURL}/inscricao.html"
                                      onmouseout="MM_swapImgRestore()"
                                      onmouseover="MM_swapImage('Image6','','${baseURL}/imagem/inscricao_clicado.png',1)"><img
                            src="${baseURL}/imagem/inscricao.png" name="Image6" id="Image6" border="0"
                            height="70" width="188" /></a></div>
            </div>
            <div id="apDiv15">
                <div align="right"><a href="${baseURL}/submissao.html"
                                      onmouseout="MM_swapImgRestore()"
                                      onmouseover="MM_swapImage('Image13','','${baseURL}/imagem/submissao_clicado.png',1)"><img
                            src="${baseURL}/imagem/submissao.png" name="Image13" id="Image13" border="0"
                            height="70" width="188" /></a></div>
            </div>
            <div id="apDiv16">
                <div align="right"><a href="${baseURL}/localizacao.html"
                                      onmouseout="MM_swapImgRestore()"
                                      onmouseover="MM_swapImage('Image8','','${baseURL}/imagem/localizacao_clicado.png',1)"><img
                            src="${baseURL}/imagem/localizacao.png" name="Image8" id="Image8" border="0"
                            height="70" width="188" /></a></div>
            </div>
            <div id="apDiv17">
                <div align="right"><a href="${baseURL}/contato.html"
                                      onmouseout="MM_swapImgRestore()"
                                      onmouseover="MM_swapImage('Image9','','${baseURL}/imagem/contato_clicado.png',1)"><img
                            src="${baseURL}/imagem/contato.png" name="Image9" id="Image9" border="0"
                            height="70" width="188" /></a></div>
            </div>
            <div id="apDiv18">
                <div align="right"><a href="${baseURL}/equipe.html"
                                      onmouseout="MM_swapImgRestore()"
                                      onmouseover="MM_swapImage('Image10','','${baseURL}/imagem/equipe_clicado.png',1)"><img
                            src="${baseURL}/imagem/equipe.png" name="Image10" id="Image10" border="0"
                            height="70" width="188" /></a></div>
            </div>
        </div>
        <div id="apDiv11">
            <div align="right"><a href="${baseURL}/index.html" onmouseout="MM_swapImgRestore()"
                                  onmouseover="MM_swapImage('Image11','','${baseURL}/imagem/inicio_clicado.png',1)"><img
                        src="${baseURL}/imagem/inicio.png" name="Image11" id="Image11" border="0"
                        height="70" width="188" /></a></div>
        </div>
        <div id="apDiv12">
            <div align="right"><a href="${baseURL}/prog_res.html"
                                  onmouseout="MM_swapImgRestore()"
                                  onmouseover="MM_swapImage('Image12','','${baseURL}/imagem/PRO_RES_CLICADO.png',1)"><img
                        src="${baseURL}/imagem/PRO_RES.png" name="Image12" id="Image12" border="0"
                        height="70" width="188" /></a></div>
        </div>
        <div id="apDiv19">
            <div id="apDiv20">
                <p class="style2" align="center"><span class="style9">Universidade
                        Tecnológica Federal do Paraná - Câmpus Curitiba</span><br />
                    <span class="style10">15 a 19 de Abril de 2013</span></p>
            </div>
            <div id="apDiv33"></div>
            <div id="apDiv37">
                <ice:form>
                    <p class="style2" align="center"><span class="style9">FICHA DE INSCRIÇÃO</span></p>
                    <ice:panelGroup>
                        <p>
                            <ace:textEntry size="50" maxlength="50" value="#{inscricaoBean.inscricao.nome}" label="Nome completo"
                                           required="true" requiredIndicator="*" indicatorPosition="left" labelPosition="left"
                                           disabled="#{inscricaoBean.persisted}"/>
                        </p>
                        <p>
                            <ace:maskedEntry value="#{inscricaoBean.inscricao.cpf}"  mask="999999999-99" label="CPF"
                                             size="16" required="true" requiredIndicator="*" labelPosition="left" indicatorPosition="left"
                                             disabled="#{inscricaoBean.persisted}">
                                <f:validator validatorId="CPFValidator"/>
                                <f:converter converterId="CPFConverter"/>
                            </ace:maskedEntry>
                            <span style="margin-left: 1em">
                                <ace:maskedEntry value="#{inscricaoBean.inscricao.fone}"  mask="(99) 99999999?9" label="Telefone para contato"
                                                 size="18" required="true" requiredIndicator="*" labelPosition="left" indicatorPosition="left"
                                                 disabled="#{inscricaoBean.persisted}">
                                    <f:converter converterId="PhoneConverter"/>
                                </ace:maskedEntry>
                            </span>
                        </p>
                        <p>
                            <ace:textEntry size="58" maxlength="100" value="#{inscricaoBean.inscricao.email}" label="E-mail"
                                           required="true" requiredIndicator="*" indicatorPosition="left" labelPosition="left"
                                           disabled="#{inscricaoBean.persisted}"/>
                        </p>
                    </ice:panelGroup>
                    <p><span class="style16" style="font-weight: bold">Endereço:</span>
                        <ice:panelGroup style="margin-left: 2em">
                            <ice:panelGroup style="margin-bottom: 4px">
                                <ace:textEntry size="47" maxlength="100" value="#{inscricaoBean.inscricao.endereco}" label="Rua e número"
                                               required="true" requiredIndicator="*" indicatorPosition="left" labelPosition="left"
                                               disabled="#{inscricaoBean.persisted}"/><br/>
                            </ice:panelGroup>
                            <ice:panelGroup style="margin-bottom: 4px">
                                <ace:textEntry size="18" maxlength="50" value="#{inscricaoBean.inscricao.complemento}"
                                               label="Complemento" labelPosition="left" disabled="#{inscricaoBean.persisted}"/>
                                <span style="margin-left: 1em">
                                    <ace:textEntry size="19" maxlength="50" value="#{inscricaoBean.inscricao.bairro}"
                                                   label="Bairro" labelPosition="left" disabled="#{inscricaoBean.persisted}"/><br/>
                                </span>
                            </ice:panelGroup>
                            <ice:panelGroup style="margin-bottom: 4px">
                                <ace:maskedEntry value="#{inscricaoBean.inscricao.cep}"  mask="99999-999" label="CEP" size="9"
                                                 required="true" requiredIndicator="*" indicatorPosition="left" labelPosition="left"
                                                 disabled="#{inscricaoBean.persisted}">
                                    <f:converter converterId="CEPConverter"/>
                                </ace:maskedEntry>
                                <span style="margin-left: 0.5em">
                                    <ace:textEntry size="30" maxlength="50" value="#{inscricaoBean.inscricao.cidade}" label="Cidade"
                                                   required="true" requiredIndicator="*" indicatorPosition="left" labelPosition="left"
                                                   disabled="#{inscricaoBean.persisted}"/>
                                </span>
                                <span style="margin-left: 0.5em">
                                    <ice:outputLabel for="estado" value="Estado" styleClass="ui-input-label"/>
                                    <ice:selectOneMenu id="estado" value="#{inscricaoBean.inscricao.estado}" disabled="#{inscricaoBean.persisted}">
                                        <f:selectItem itemLabel="AC" itemValue="AC"/>
                                        <f:selectItem itemLabel="AL" itemValue="AL"/>
                                        <f:selectItem itemLabel="AM" itemValue="AM"/>
                                        <f:selectItem itemLabel="AP" itemValue="AP"/>
                                        <f:selectItem itemLabel="BA" itemValue="BA"/>
                                        <f:selectItem itemLabel="CE" itemValue="CE"/>
                                        <f:selectItem itemLabel="DF" itemValue="DF"/>
                                        <f:selectItem itemLabel="ES" itemValue="ES"/>
                                        <f:selectItem itemLabel="GO" itemValue="GO"/>
                                        <f:selectItem itemLabel="MA" itemValue="MA"/>
                                        <f:selectItem itemLabel="MG" itemValue="MG"/>
                                        <f:selectItem itemLabel="MS" itemValue="MS"/>
                                        <f:selectItem itemLabel="MT" itemValue="MT"/>
                                        <f:selectItem itemLabel="PA" itemValue="PA"/>
                                        <f:selectItem itemLabel="PB" itemValue="PB"/>
                                        <f:selectItem itemLabel="PE" itemValue="PE"/>
                                        <f:selectItem itemLabel="PI" itemValue="PI"/>
                                        <f:selectItem itemLabel="PR" itemValue="PR"/>
                                        <f:selectItem itemLabel="RJ" itemValue="RJ"/>
                                        <f:selectItem itemLabel="RN" itemValue="RN"/>
                                        <f:selectItem itemLabel="RO" itemValue="RO"/>
                                        <f:selectItem itemLabel="RR" itemValue="RR"/>
                                        <f:selectItem itemLabel="RS" itemValue="RS"/>
                                        <f:selectItem itemLabel="SC" itemValue="SC"/>
                                        <f:selectItem itemLabel="SE" itemValue="SE"/>
                                        <f:selectItem itemLabel="SP" itemValue="SP"/>
                                        <f:selectItem itemLabel="TO" itemValue="TO"/>
                                    </ice:selectOneMenu>
                                </span>
                            </ice:panelGroup>
                        </ice:panelGroup>
                    </p>
                    <p class="style16" style="font-weight: bold">Categoria:</p>
                    <ice:panelGroup style="margin-left: 2em">
                        <ice:selectOneRadio id="categoria" value="#{inscricaoBean.categoriaSelecionada}" disabled="#{inscricaoBean.persisted}"
                                            layout="spread" required="true" label="Categoria" partialSubmit="true"
                                            valueChangeListener="#{inscricaoBean.categoriaChangeListener}">
                            <f:selectItems value="#{inscricaoBean.categorias}" var="c" itemValue="#{c.codigo}" itemLabel="#{c.descricao}"/>
                            <p>
                                <ice:panelGroup style="display: inline">
                                    <span class="style16"><ice:radio for="categoria" index="0"/>. </span>
                                </ice:panelGroup>
                                <ace:textEntry value="#{inscricaoBean.instituicaoCursoGraduacao}" size="26" maxlength="50"
                                               label="Nome da Instituição e curso*" labelPosition="left"
                                               disabled="#{inscricaoBean.categoriaSelecionada != 1 or inscricaoBean.persisted}"
                                               required="true"/>
                            </p>
                            <p>
                                <ice:panelGroup style="display: inline">
                                    <span class="style16"><ice:radio for="categoria" index="1"/>. </span>
                                </ice:panelGroup>
                                <ace:textEntry value="#{inscricaoBean.instituicaoCursoPos}" size="23" maxlength="50"
                                               label="Nome da Instituição e curso*" labelPosition="left"
                                               disabled="#{inscricaoBean.categoriaSelecionada != 2 or inscricaoBean.persisted}"
                                               required="true"/>
                            </p>
                            <p>
                                <ice:panelGroup style="display: inline">
                                    <span class="style16"><ice:radio for="categoria" index="2"/>. </span>
                                </ice:panelGroup>
                                <ace:textEntry value="#{inscricaoBean.empresaProfissional}" size="30" maxlength="50"
                                               label="Nome da Instituição ou empresa" labelPosition="left"
                                               disabled="#{inscricaoBean.categoriaSelecionada != 3 or inscricaoBean.persisted}"
                                               required="true"/><br/>
                                <span class="style16" style="margin-left: 1.8em"></span>
                                <ace:textEntry value="#{inscricaoBean.inscricao.atuacaoEmpresa}" size="52" maxlength="50"
                                               label="Área de atuação" labelPosition="left"
                                               disabled="#{inscricaoBean.categoriaSelecionada != 3 or inscricaoBean.persisted}"
                                               required="true"/>
                            </p>
                        </ice:selectOneRadio>
                        <p class="style16">*<em style="font-size: small">deverá apresentar documento comprobatório na entrega do material.</em></p>
                    </ice:panelGroup>
                    <p class="style16" style="font-weight: bold; margin: 0.5em 0">Opções de inscrição:</p>
                    <ice:panelGroup>
                        <p class="style16">
                            <ice:selectBooleanCheckbox value="#{inscricaoBean.opcaoParticipacao}"
                                                       disabled="true"
                                                       partialSubmit="true" readonly="true"/>
                            Palestras, mesas-redondas, acesso àrea de exposições, apresentação de trabalho.
                            <ice:outputText styleClass="cemaValor" value="#{inscricaoBean.valorParticipacao}" rendered="#{inscricaoBean.opcaoParticipacao}">
                                <f:convertNumber pattern="#{inscricaoBean.valorPattern}"/>
                            </ice:outputText>
                        </p>
                    </ice:panelGroup>
                    <ice:panelGroup>
                        <p class="style16">
                            <ice:selectBooleanCheckbox value="#{inscricaoBean.opcaoMinicurso}"
                                                       disabled="#{!inscricaoBean.categoriaDefinida or inscricaoBean.persisted}"
                                                       partialSubmit="true"/>
                            Minicurso. Qual? (<b>apenas um</b>)
                            <ice:outputText styleClass="cemaValor" value="#{inscricaoBean.valorMinicurso}"
                                            rendered="#{inscricaoBean.opcaoMinicurso and !empty inscricaoBean.minicursoSelecionado}">
                                <f:convertNumber pattern="#{inscricaoBean.valorPattern}"/>
                            </ice:outputText>
                        </p>
                    </ice:panelGroup>
                    <blockquote>
                        <ice:panelGroup>
                            <ice:selectOneRadio id="minicurso" value="#{inscricaoBean.minicursoSelecionado}" layout="spread" style="margin: 0"
                                                disabled="#{!inscricaoBean.opcaoMinicurso or !inscricaoBean.categoriaDefinida or inscricaoBean.persisted}"
                                                valueChangeListener="#{inscricaoBean.minicursoChangeListener}"
                                                label="Minicurso" required="#{inscricaoBean.opcaoMinicurso}" partialSubmit="true">
                                <f:selectItems value="#{inscricaoBean.minicursos}" var="m" itemValue="#{m.codigo}" itemLabel=""/>
                                <ice:repeat value="#{inscricaoBean.minicursos}" var="minicurso" varStatus="idx">
                                    <p class="style16" style="margin-top: 0">
                                        <ice:radio for="minicurso" index="#{idx.index}"/>
                                        <strong>Minicurso #{idx.index+1}: </strong><em>#{minicurso.descricao}</em>
                                        <p class="style16" style="margin: 0 0 0 2em; font-size: smaller">Ministrado por: #{minicurso.ministrante}</p>
                                    </p>
                                </ice:repeat>
                            </ice:selectOneRadio>
                            <p class="style16" style="margin-top: 0.75em">
                                <ice:selectBooleanCheckbox value="#{inscricaoBean.opcaoOutroMinicurso}" partialSubmit="true" disabled="#{inscricaoBean.persisted}"/>
                                Tenho interesse em participar de outro minicurso. Qual?
                                <ice:selectOneMenu value="#{inscricaoBean.outroMinicursoSelecionado}" partialSubmit="true"
                                                   disabled="#{!inscricaoBean.opcaoOutroMinicurso or inscricaoBean.persisted}">
                                    <f:selectItems value="#{inscricaoBean.getMinicursos(inscricaoBean.minicursoSelecionado)}" var="m" itemValue="#{m.codigo}"
                                                   itemLabel="Minicurso #{m.codigo}"/>
                                </ice:selectOneMenu>
                            </p>
                            <span class="style16">Seu nome será inserido em lista de espera, a comissão organizadora entrará em contato após confirmação
                                da disponibilidade de vagas.</span>
                        </ice:panelGroup>
                    </blockquote>
                    <span class="style16"><b>Visita técnica.</b> Qual(is)?</span>
                    <ice:outputFormat value="[{0} x R$ {1, number, 0.00} = R$ {2, number, 0.00}]" rendered="#{inscricaoBean.opcaoVisita}"
                                      styleClass="cemaValor">
                        <f:param value="#{inscricaoBean.numVisitas}"/>
                        <f:param value="#{inscricaoBean.valorVisita}"/>
                        <f:param value="#{inscricaoBean.valorTotalVisita}"/>
                    </ice:outputFormat>
                    <ice:panelGroup>
                        <ice:selectManyCheckbox id="visitas" value="#{inscricaoBean.visitasSelecionadas}" layout="spread"
                                                disabled="#{!inscricaoBean.categoriaDefinida or inscricaoBean.persisted}" partialSubmit="true">
                            <f:selectItems value="#{inscricaoBean.visitas}" var="visita" itemValue="#{visita.codigo}"
                                           itemLabel="#{visita.descricao}"/>
                            <ice:repeat value="#{inscricaoBean.visitas}" varStatus="idx">
                                <span class="style16"><ice:checkbox for="visitas" index="#{idx.index}"/></span>
                            </ice:repeat>
                        </ice:selectManyCheckbox>
                    </ice:panelGroup>
                    <ice:panelGroup styleClass="cemaValorTotal" style="text-align: center; margin-top: 1em" rendered="#{inscricaoBean.valorTotalInscricao > 0}">
                        <ace:linkButton value="CONFIRMAR INSCRIÇÃO" actionListener="#{inscricaoBean.confirmarActionListener}" disabled="#{inscricaoBean.persisted}"
                                        rendered="#{!inscricaoBean.persisted}"/>
                        <ice:outputFormat styleClass="cemaValor" value="(VALOR TOTAL A PAGAR = R$ {0, number, 0.00})" rendered="#{inscricaoBean.categoriaDefinida}">
                            <f:param value="#{inscricaoBean.valorTotalInscricao}"/>
                        </ice:outputFormat>
                    </ice:panelGroup>
                    <ice:panelGroup styleClass="cemaIceMsgsContainer" rendered="#{facesContext.messageList.size() > 0}">
                        <ice:messages/>
                    </ice:panelGroup>
                    <ice:panelGroup  rendered="#{inscricaoBean.persisted}">
                        <ice:outputFormat styleClass="cemaMsgNumero" value="Seu número de inscrição é {0, number, 00000}.">
                            <f:param value="#{inscricaoBean.inscricao.numero}"/>
                        </ice:outputFormat>
                        <ice:outputLink styleClass="cemaLinkBoleto" value="#{facesContext.externalContext.requestContextPath}/boleto.xhtml"
                                        target="_blank">
                            <ice:outputText value="Emitir boleto para pagamento"/>
                                <f:param name="ninsc" value="#{inscricaoBean.inscricao.numero}"/>
                                <f:param name="npgto" value="#{inscricaoBean.inscricao.inscricaoPagamentoList[0].numeroDocumento}"/>
                        </ice:outputLink>
                        <ice:outputLink styleClass="cemaLinkContinuar" value="#{facesContext.externalContext.requestContextPath}/consulta.xhtml">
                            Continuar
                        </ice:outputLink>
                        <ice:panelGroup styleClass="cemaMsgNumero">
                            #{inscricaoBean.mensagemSituacao}
                        </ice:panelGroup>
                    </ice:panelGroup>
                </ice:form>
            </div>
        </div>
        <div id="apDiv21"></div>
    </ui:define>
</ui:composition>
