<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ice="http://www.icesoft.com/icefaces/component"
                xmlns:ace="http://www.icefaces.org/icefaces/components"
                xmlns:icecore="http://www.icefaces.org/icefaces/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="./WEB-INF/templates/layout.xhtml">

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="top"/>

    <ui:define name="formulario">
        <h:form>
            <table cellspacing="4" cellpadding="2">

                <tr>
                    <td width="566" valign="top"><p><strong>Dados Pessoais</strong></p></td>
                </tr>
                <tr>
                    <td width="566" valign="top"><p><strong>
                                <ace:textEntry size="50" maxlength="50" value="#{inscricaoBean.inscricao.nome}" label="Nome completo"
                                               required="true" requiredIndicator="*" indicatorPosition="left" labelPosition="left"
                                               disabled="#{inscricaoBean.persisted}" styleClass="evento-textentry-default"/>
                            </strong></p></td>
                </tr>
                <tr>
                    <td width="566" valign="top"><p> 
                            <ace:textEntry size="16" maxlength="15" value="#{inscricaoBean.inscricao.identidade}" label="Número de identidade"
                                           required="true" requiredIndicator="*" indicatorPosition="left" labelPosition="left"
                                           disabled="#{inscricaoBean.persisted}" styleClass="evento-textentry-default"/>
                        </p></td>
                </tr>
                <tr>
                    <td width="566" valign="top"><p> 
                            <ace:maskedEntry value="#{inscricaoBean.inscricao.cpf}"  mask="999999999-99" label="CPF"
                                             size="16" required="true" requiredIndicator="*" labelPosition="left" indicatorPosition="left"
                                             disabled="#{inscricaoBean.persisted}" styleClass="evento-textentry-default">
                                <f:validator validatorId="CPFValidator"/>
                                <f:converter converterId="CPFConverter"/>
                            </ace:maskedEntry>
                        </p></td>
                </tr>

                <tr>
                    <td width="566" valign="top"><p> 
                            <ace:textEntry size="50" maxlength="100" value="#{inscricaoBean.inscricao.instituicao}" label="Nome e Sigla da Instituição"
                                           required="true" requiredIndicator="*" indicatorPosition="left" labelPosition="left"
                                           disabled="#{inscricaoBean.persisted}" styleClass="evento-textentry-default"/>
                        </p></td>
                </tr>


                <tr>
                    <td width="566" valign="top"><p>
                            <ace:textEntry size="58" maxlength="100" value="#{inscricaoBean.inscricao.email}" label="E-mail"
                                           required="true" requiredIndicator="*" indicatorPosition="left" labelPosition="left"
                                           disabled="#{inscricaoBean.persisted}" styleClass="evento-textentry-default"/>
                        </p></td>
                </tr>

                <tr>
                    <td width="566" valign="top"><p>
                            <ace:maskedEntry value="#{inscricaoBean.inscricao.fone}"  mask="(99) 99999999?9" label="Fone"
                                             size="18" required="true" requiredIndicator="*" labelPosition="left" indicatorPosition="left"
                                             disabled="#{inscricaoBean.persisted}" styleClass="evento-textentry-default">
                                <f:converter converterId="PhoneConverter"/>
                            </ace:maskedEntry>
                        </p></td>
                </tr>


                <tr>
                    <td width="566" valign="top">
                        <p>
                            <ace:textEntry size="47" maxlength="100" value="#{inscricaoBean.inscricao.endereco}" label="Rua e número"
                                           required="true" requiredIndicator="*" indicatorPosition="left" labelPosition="left"
                                           disabled="#{inscricaoBean.persisted}" styleClass="evento-textentry-default"/>
                        </p>
                        <p>
                            <ace:textEntry size="19" maxlength="50" value="#{inscricaoBean.inscricao.bairro}" label="Bairro"
                                           labelPosition="left" disabled="#{inscricaoBean.persisted}" styleClass="evento-textentry-default"/>
                            <span  style="margin-left: 1em">
                                <ace:maskedEntry value="#{inscricaoBean.inscricao.cep}"  mask="99999-999" label="CEP" size="9"
                                                 required="true" requiredIndicator="*" indicatorPosition="left" labelPosition="left"
                                                 disabled="#{inscricaoBean.persisted}" styleClass="evento-textentry-default">
                                    <f:converter converterId="CEPConverter"/>
                                </ace:maskedEntry>
                            </span>
                        </p>
                        <p>
                            <ace:textEntry size="30" maxlength="50" value="#{inscricaoBean.inscricao.cidade}" label="Cidade"
                                           required="true" requiredIndicator="*" indicatorPosition="left" labelPosition="left"
                                           disabled="#{inscricaoBean.persisted}" styleClass="evento-textentry-default"/>
                            <h:outputLabel for="estado" value="Estado" styleClass="ui-input-label" style="margin-left: 1em"/>
                            <h:selectOneMenu id="estado" value="#{inscricaoBean.inscricao.estado}" disabled="#{inscricaoBean.persisted}"
                                             label="Estado" required="true" styleClass="ui-inputfield ui-widget-content ui-corner-all evento-textentry-default">
                                <f:selectItem itemLabel="" itemValue="${null}" noSelectionOption="true"/>
                                <f:selectItem itemLabel="AC" itemValue="AC"/>
                                <f:selectItem itemLabel="AL" itemValue="AL"/>
                                <f:selectItem itemLabel="AM" itemValue="AM"/>
                                <f:selectItem itemLabel="AP" itemValue="AP"/>
                                <f:selectItem itemLabel="BA" itemValue="BA"/>
                                <f:selectItem itemLabel="CE" itemValue="CE"/>
                                <f:selectItem itemLabel="DF" itemValue="DF"/>
                                <f:selectItem itemLabel="ES" itemValue="ES"/>
                                <f:selectItem itemLabel="GO" itemValue="GO"/>
                                <f:selectItem itemLabel="MA" itemValue="MA"/>
                                <f:selectItem itemLabel="MG" itemValue="MG"/>
                                <f:selectItem itemLabel="MS" itemValue="MS"/>
                                <f:selectItem itemLabel="MT" itemValue="MT"/>
                                <f:selectItem itemLabel="PA" itemValue="PA"/>
                                <f:selectItem itemLabel="PB" itemValue="PB"/>
                                <f:selectItem itemLabel="PE" itemValue="PE"/>
                                <f:selectItem itemLabel="PI" itemValue="PI"/>
                                <f:selectItem itemLabel="PR" itemValue="PR"/>
                                <f:selectItem itemLabel="RJ" itemValue="RJ"/>
                                <f:selectItem itemLabel="RN" itemValue="RN"/>
                                <f:selectItem itemLabel="RO" itemValue="RO"/>
                                <f:selectItem itemLabel="RR" itemValue="RR"/>
                                <f:selectItem itemLabel="RS" itemValue="RS"/>
                                <f:selectItem itemLabel="SC" itemValue="SC"/>
                                <f:selectItem itemLabel="SE" itemValue="SE"/>
                                <f:selectItem itemLabel="SP" itemValue="SP"/>
                                <f:selectItem itemLabel="TO" itemValue="TO"/>
                            </h:selectOneMenu>
                        </p>

                    </td>
                </tr>
            </table>
            <p><em>&nbsp; </em></p>
            <ace:buttonGroup id="categoria" mutuallyExclusive="true" styleClass="txt12" style="background: none; border: none; width: 780px;">
                <table cellpadding="2" cellspacing="4" style="font-size: 9pt">
                    <tr valign="middle">
                      <td width="43%"><p align="center"><strong>Categoria</strong></p></td>
                      <td colspan="2" width="*"><p align="center"><strong>Inscrição</strong></p></td>
                      <td colspan="2" width="*"><p align="center"><strong>Minicurso</strong></p></td>
                    </tr>
                    <tr valign="middle">
                      <td width="43%" height="53"><p align="center">&nbsp;</p></td>
                      <td width="*"><p align="center" style="width: 57px"><strong>Até 23/09</strong></p></td>
                      <td width="*"><p align="center"><strong>Após 23/09</strong></p></td>
                      <td width="*"><p align="center"><strong>Até 23/09</strong></p></td>
                      <td width="*"><p align="center"><strong>Após 23/09</strong></p></td>
                    </tr>
                    <tr valign="middle" bgcolor="#B6D6D2">
                        <td width="43%" height="30">
                            <p>
                                <ace:checkboxButton value="${inscricaoBean.categoriasRadio[0]}" label="#{inscricaoBean.categorias[0].descricao}"
                                                 labelPosition="right" disabled="#{inscricaoBean.persisted}" />
                            </p>
                        </td>
                        <td height="30" width="*" align="center">
                            <h:outputText value="#{inscricaoBean.categorias[0].valor1Inscricao}">
                                <f:convertNumber type="currency"/>
                            </h:outputText>
                        </td>
                        <td height="30" width="*" align="center">
                            <h:outputText value="#{inscricaoBean.categorias[0].valor2Inscricao}">
                                <f:convertNumber type="currency"/>
                            </h:outputText>
                        </td>
                        <td height="30" width="*" align="center">
                            <h:outputText value="#{inscricaoBean.categorias[0].valor1Minicurso}">
                                <f:convertNumber type="currency"/>
                            </h:outputText>
                        </td>
                        <td height="30" width="*" align="center">
                            <h:outputText value="#{inscricaoBean.categorias[0].valor2Minicurso}">
                                <f:convertNumber type="currency"/>
                            </h:outputText>
                        </td>
                    </tr>
                    <tr valign="middle" bgcolor="#8CBDB8">
                        <td width="43%" height="30">
                            <p>
                                <ace:checkboxButton value="${inscricaoBean.categoriasRadio[1]}" label="#{inscricaoBean.categorias[1].descricao}*"
                                                 labelPosition="right" disabled="#{inscricaoBean.persisted}"/>
                            </p>
                        </td>
                        <td height="30" width="*" align="center">
                            <h:outputText value="#{inscricaoBean.categorias[1].valor1Inscricao}">
                                <f:convertNumber type="currency"/>
                            </h:outputText>
                        </td>
                        <td height="30" width="*" align="center">
                            <h:outputText value="#{inscricaoBean.categorias[1].valor2Inscricao}">
                                <f:convertNumber type="currency"/>
                            </h:outputText>
                        </td>
                        <td height="30" width="*" align="center">
                            <h:outputText value="#{inscricaoBean.categorias[1].valor1Minicurso}">
                                <f:convertNumber type="currency"/>
                            </h:outputText>
                        </td>
                        <td height="30" width="*" align="center">
                            <h:outputText value="#{inscricaoBean.categorias[1].valor2Minicurso}">
                                <f:convertNumber type="currency"/>
                            </h:outputText>
                        </td>
                    </tr>
                </table>
            </ace:buttonGroup>

            <p>* mediante apresentação de declaração de matrícula.</p>
            <p/>
            
            <p><span class="auto-style8"><u><strong>Informações importantes - leia antes de concluir sua inscrição</strong></u></span></p>
            <p><b>1. É possível inscrever-se somente nos minicursos (sem fazer inscrição no evento)</b></p>
            <p><b>2. As pessoas que se inscrevem no evento podem escolher GRATUITAMENTE quantos minicursos quiserem</b></p>
           
            <table cellspacing="4" cellpadding="2">
                <tr>
                    <td width="501" valign="top"><p><strong><em>Evento</em></strong></p></td>
                </tr>
                <tr>
                    <td width="501" valign="top"><p>
                            <label>
                                <h:selectBooleanCheckbox value="#{inscricaoBean.inscricao.participacao}"
                                                         disabled="false" readonly="false"/>
                            </label>
                            <strong style="font-size: 10pt;">Inscrição</strong></p></td>
                </tr>
            </table>
            
            <p/>

            <p style="height: 2em; width: 100%">
                <strong  style="vertical-align: 25%; font-size: 10pt;"><em>Minicursos</em></strong>
            </p>
            <ace:buttonGroup rendered="true">
                <ui:repeat value="#{inscricaoBean.minicursos}" var="minicurso" varStatus="idx">
                    <p class="style16" style="margin-top: 0">
                        <ace:checkboxButton value="#{inscricaoBean.checkMinicursos[idx.index]}" disabled="#{inscricaoBean.persisted or inscricaoBean.getVagasDisponiveisMinicurso(minicurso.codigo) lt 1}"/>
                        <h:outputText value="Minicurso #{minicurso.codigo}: #{minicurso.descricao} (#{inscricaoBean.getVagasDisponiveisMinicurso(minicurso.codigo)} vagas restantes)"/>
                    </p>
                </ui:repeat>
            </ace:buttonGroup>
            
            <ace:buttonGroup rendered="false">
                <ui:repeat value="#{inscricaoBean.visitas}" var="visita" varStatus="idx">
                    <p class="style16" style="margin-top: 0">
                        <ace:checkboxButton value="#{inscricaoBean.checkVisitas[idx.index]}" disabled="#{inscricaoBean.persisted or inscricaoBean.getVagasDisponiveisVisita(visita.codigo) lt 1}"/>
                        <h:outputText value="Visita #{visita.codigo}: #{visita.descricao} (#{inscricaoBean.getVagasDisponiveisVisita(visita.codigo)} vagas restantes)"/>
                    </p>
                </ui:repeat>
            </ace:buttonGroup>
            
            <p>&nbsp;</p>

            <h:panelGroup style="text-align: center; margin-top: 1em" rendered="true">
                <h:commandButton value="CONFIRMAR INSCRIÇÃO" action="#{inscricaoBean.confirmarAction}" disabled="#{inscricaoBean.persisted}"
                                 rendered="#{!inscricaoBean.persisted}" styleClass="evento-botao-validar"/>
                <h:outputText styleClass="cemaValor" value="(Revise os dados da sua inscrição antes de clicar)" rendered="#{!inscricaoBean.persisted}"/>
            </h:panelGroup>
            <h:panelGroup>
                <h:messages/>
            </h:panelGroup>

            <h:panelGroup  rendered="#{inscricaoBean.persisted}">
                <h:outputFormat styleClass="cemaMsgNumero" value="Seu número de inscrição é {0, number, 00000}.">
                    <f:param value="#{inscricaoBean.inscricao.numero}"/>
                </h:outputFormat>
                <h:outputLink styleClass="cemaLinkBoleto" value="#{request.contextPath}/boleto.xhtml"
                                target="_blank">
                    <h:outputText value="Emitir boleto para pagamento"/>
                    <f:param name="ninsc" value="#{inscricaoBean.inscricao.numero}"/>
                    <f:param name="npgto" value="#{inscricaoBean.inscricao.inscricaoPagamentoList[0].numeroDocumento}"/>
                </h:outputLink>
                <h:outputLink styleClass="cemaLinkContinuar" value="#{request.contextPath}/consulta.xhtml">
                    Continuar
                </h:outputLink>
                <h:panelGroup styleClass="cemaMsgNumero">
                    #{inscricaoBean.mensagemSituacao}
                </h:panelGroup>
            </h:panelGroup>
        </h:form>
    </ui:define>
</ui:composition>
